h1{
    text-align: center;
    font-size: 43px;
    color: #808186;
    text-decoration: overline underline;
    font-family: cursive;
}
p{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    border: 2px dotted black ;
}

p:hover{
    border: 7px solid red;
    background-color: Yellow;
    font-size: 16px;
    text-align: right;
}

.box1 {
    background-color: red;
}
.box2{
    background-color: pink;
}

/* div{
    display: inline-block;
    width: 250px;
    margin: 25px;
    font-size: 25px;
    padding: 10px;
} */

span{
    display: block;
}

/*  FLex */

.item{
    width: 100px;
    height: 100px;
}
.one{
    background-color: orange;
    border: 2px solid black ;
}
.two{
    background-color: white;
    border: 2px solid black ;
}
.three{
    background-color: green;
    border: 2px solid black ;
}
.container{
    display: flex;
    height: 700px;
    border: 2px solid black;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: end; */
    gap: 70px;
    justify-content: center;
    align-items: center;
}